*,
*::before,
*::after{
  box-sizing: border-box;
}

:root{
  --ff-primary: 'Source Sans Pro', sans-serif;
  --ff-secondary: 'Source Code Pro', monospace;

  --fw-reg: 300;
  --fw-bold: 900;

  --clr-light: #E8F4F9;
  --clr-med:#095598;
  --clr-dark: #153C4B;
  --clr-accent:#ABD4E5;
  --clr-blend:#848484;

  --fs-h1: 3.5rem;
  --fs-h2: 2.25rem;
  --fs-h3: 1.25rem;
  --fs-body: 1rem;

  --bs: 0.25em 0.25em 0.75em rgba(0,0,0,.25),
        0.125em 0.125em 0.25em rgba(0,0,0,.15);

  --bs2: 0.6em 0.6em 0.9em rgba(0,0,0,0.5),
        0.125em 0.125em 0.25em rgba(0,0,0,.15);
}

@media (min-width: 800px) {
  :root{
    --fs-h1: 3.5rem;
    --fs-h2: 3.0rem;
    --fs-h3: 1.5rem;
    --fs-body: 1.125rem;
  }
}


/* General */

body{
  background: var(--clr-light);
  color: var(--clr-dark);
  margin: 0;
  font-family: var(--ff-primary);
  font-size: var(--fs-body);
  line-height: 1.6;
}

section {
  padding: 6em 2em;
}

img {
  display: block;
  max-width:100%;
}

strong{
  font-weight: var(--fw-bold);
}

/* Typography */

h1,
h2,
h3{
  line-height: 1.1;
  margin: 0;
}

h1 { font-size: var(--fs-h1) }
h2 { font-size: var(--fs-h2) }
h3 { font-size: var(--fs-h3) }

.section__title {
  margin-bottom: 0.25em;
}

.section__title--intro{
  font-weight: var(--fw-reg);
  margin-bottom:0.5em;
  margin-top:0.5em;
}

.section__title--intro strong{
  display: block;
  margin-top:0.20em;
  margin-left:0.4em;
}

.section__subtitle{
  margin: 0;
  font-size: var(--fs-h3);
}

.section__subtitle--intro,
.section__subtitle--about{
  background: var(--clr-accent);
  font-size: var(--fs-h3);
  padding: .25em 1em;
  font-family: var(--ff-secondary);
  margin-bottom: 5em;
  box-shadow: var(--bs);
}


/* header */

nav{display:none}


/* Intro section */

.intro {
  position: relative;
}

.intro__image{
  opacity: 0.85;
  border-bottom: 5px solid var(--clr-accent);
  margin-bottom: -0.25em;
  margin-top: -1em;
}

@media (min-width: 670px) {
  .intro{
    display: grid;
    width: min-content;
    margin: 0 auto;
    grid-column-gap: 1em;
    grid-template-areas:
      "img title"
      "img subtitle";
    grid-template-columns: min-content max-content;
  }

  .intro__image{
    grid-area: img;
    min-width: 250px;
    position: relative;
    z-index: 2;
  }

  .section__title--intro{
    margin-top: 0.8em;
  }

  .section__subtitle--intro {
    align-self: start;
    grid-column: -1 / 1;
    grid-row: 3;
    text-align: left;
    position: relative;
    left: -1em;
    width: calc(100% + 1.5em);
  }
}

/* My services section */
.my-services {
  background-color: var(--clr-dark);
  color: var(--clr-accent);
  opacity: 0.9;
  text-align: center;
  box-shadow: var(--bs);
  margin-left: 2em;
  margin-right: 3em;
  border-radius: 30px;
  align-items: center;
}

.section__title--services{
  color: var(--clr-light);
  font-family: var(--ff-secondary);
  font-weight: var(--fw-reg);
  font-size: var(--fs-h2);
  opacity: 0.7;
  position: relative;
  margin-top: -1em;
  margin-bottom: 1em;
}

.section__title--services::after {
  content: '';
  display: block;
  width: 3em;
  height: 2px;
  margin: 0.4em auto 1em;
  background: var(--clr-light);
  opacity: 0.5;
}

.service__title{
  color: var(--clr-dark);
  opacity:0.5;
  font-family: var(--ff-secondary);
  font-weight: var(--fw-reg);
  background-color: var(--clr-light);
  width: min-content;
  padding: 0.25em 0.25em 0.25em 0.25em;
  border-radius: 20%;
}

.services{
  display: grid;
  margin-bottom: -4em;
}
.service{
  min-width: 100px;
  min-height: 300px;
  margin: 1em 0.5em 1em 0.5em;
  border-radius: 35px;
  box-shadow: var(--bs);
}

.service--prog{
  background-color: var(--clr-blend);
  background-image: url(../img/prog.jpg);
  background-size: cover;
  background-blend-mode: multiply;
}

.service--music{
  background-color: var(--clr-blend);
  background-image: url(../img/piano.jpg);
  background-size: cover;
  background-blend-mode: multiply;
}

.service--photo{
  background-color: var(--clr-blend);
  background-image: url(../img/night_heron.jpg);
  background-size: cover;
  background-blend-mode: multiply;
}

@media (min-width: 800px) {
  .service__title{
    grid-row: 3;
    text-align: center;
  }

  .service__title--prog{
    grid-column: 1;
    text-align: left;
  }

  .service__title--music{
    grid-column: 2;
    text-align: left;
  }

  .service__title--photo{
    grid-column: 3;
    text-align: left;
  }

  .service{
    max-width: 300px;
    min-height: 300px;
    grid-row: 2;
  }

  .service--prog{
    grid-column: 1;
  }

  .service--music{
    grid-column: 2;
  }

  .service--photo{
    grid-column: 3;
  }
}
